@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800&display=optional');

/* Page Background */

body {
    background: slategray;
}

.homePageContent {
    height: 100vw;
}

.nav-tabs {
    border-bottom: 2px solid black;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: white;
    background-color: slategray;
    border-color: #dee2e6 #dee2e6 #fff;
}

.dropdown-menu > li > a:hover {
    background-color: lightseagreen;
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.mainNav {
    font-size: 18px;
}

.craftingIcon {
    float: left;
}

.craftingTitle {
    float: left;
}

.provisioningIcon {
    float: left;
    width: 43.73px;
    height: 43.73px;
}

.cardShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.blackwood {
    background-image: url("/assets/blackwood.jpg");
}

a:hover {
    color: lightseagreen;
}

a {
    color: white;
}

.btn:hover {
    background-color: lightseagreen;
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;

}

.navText:hover {
    background-color: lightseagreen;
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
