@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800&display=optional');

/* Page Background */

body {
    background: slategray;
}

.nav-tabs {
    border-bottom: 2px solid black;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: white;
    background-color: slategray;
    border-color: #dee2e6 #dee2e6 #fff;
}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: slategray;
}

.mainNav {
    font-size: 18px;
}

.craftingIcon {
    float: left;
}

.craftingTitle {
    float: left;
}

.provisioningIcon {
    float: left;
    width: 43.73px;
    height: 43.73px;
}